<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Ticket Confirmation</h1>
  <p>Hello <%= @passenger.name %>,</p>
  <p>Your ticket has been confirmed.</p>
  <p>Flight Details:</p>
  <ul>
  <li>Flight Details: <%= @ticket %></li>
  </ul>
</body>
</html>
